.header-container{
    height: 250px;
    width: 100vw;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
}

.search-bar{
    display: flex;
    flex-direction: row;
    height:70px;
    align-content: space-between;
}

.logo-box{
    display: flex;
    justify-items: center;
    width: 30vw;
}

.logo-container{
    height:70px;
    width:70px;
    background-image: url('../../../assest/images/logo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-bar-container{
    align-self: center;
    width: 70vw;
}

.search-input{
    width: 70%;
    height: 30px;
    border-radius:5px 0 0 5px;
    outline: transparent;
    border: 1px solid purple;
    padding-left: 10px;
}

.search-btn{
    height:34px;
    background-color: #432256;
    color: #fff;
    outline: none;
    border: hidden;
    width:80px;
    border-radius:0 5px 5px 0;
    cursor: pointer;
}
.search-text{
    margin-left: 5px;
}